<%- include("partials/header") %>

<div class="container-fluid homePost">

  <div class="divi">
    <h1 class="ptit"><%= title %></h1>
    <h4 class="pdat"><%= date %><h4>
  </div>

  <div class="divi">
    <p><%= body %></p>
    <h3 class="pauth"><%="- " + author %></h3>
  </div>

</div>

<%- include("partials/footer") %>
